<div>
  <!-- HEADING -->
  <div class="comments">
    <div class="comment-header">
      <h3>Comments</h3>
    </div>
    <div class="comment-button">
      <button
        type="button"
        class="comment-vote-button"
        data-toggle="modal"
        data-target="#commentModal"
        onclick="toggleComment()"
      >
        Vote/Comment
      </button>
    </div>
  </div>

  <!-- FILTER BUTTONS -->
  <div class="comment-filters">
    <div class="all">
      <button class="comment-filter-button">All</button>
    </div>
    <div class="mbti">
      <button class="comment-filter-button">MBTI</button>
    </div>
    <div class="mbti">
      <button class="comment-filter-button">Enneagram</button>
    </div>
    <div class="zodiac">
      <button class="comment-filter-button">Zodiac</button>
    </div>
  </div>
  <!-- SORT BUTTONS -->
  <div class="comment-sort">
    <div class="best">
      <button class="comment-sort-button best-sort">best</button>
    </div>
    <div class="recent">
      <button class="comment-sort-button recent-sort">recent</button>
    </div>
  </div>
  <!-- COMMENT CARDS -->
  <div class="comment-main">
    <!-- ADD COMMENT -->
    <div class="comment-card add">
      <div class="add-comment">
        <div class="comment-header">
          <div class="user-profile-image">
            <img
              class="profile-image"
              src="http://esq.h-cdn.co/assets/17/10/1280x1280/square-1488906206-daniel-craig.jpg"
              alt="user profile image"
            />
          </div>
          <div class="user-name">
            <h5 id="user-name">James</h5>
          </div>
        </div>
        <div class="comment-body">
          <div class="comment-title">
            <input name="title-input" class="title-input" placeholder="Title" />
          </div>
          <div class="voting">
            <select id="voting-mbti" class="voting-mbti" name="mbti">
              <option value="" disabled selected>MBTI</option>
              <option value="INFP">INFP</option>
              <option value="INFJ">INFJ</option>
              <option value="ENFP">ENFP</option>
              <option value="INTJ">INTJ</option>
              <option value="INTP">INTP</option>
              <option value="ENTP">ENTP</option>
              <option value="ENTJ">ENTJ</option>
              <option value="ISFP">ISFP</option>
              <option value="ISFJ">ISFJ</option>
              <option value="ESFP">ESFP</option>
              <option value="ESFJ">ESFJ</option>
              <option value="ISTP">ISTP</option>
              <option value="ISTJ">ISTJ</option>
              <option value="ESTP">ESTP</option>
              <option value="ESTJ">ESTJ</option>
            </select>
            <select class="voting-enneagram" name="Enneagram">
              <option style="background: #13a6a2" value="" selected>
                Enneagram
              </option>
              <option value="1w2">1w2</option>
              <option value="2w3">2w3</option>
              <option value="3w2">3w2</option>
              <option value="3w4">3w4</option>
              <option value="4w3">4w3</option>
              <option value="4w5">4w5</option>
              <option value="5w4">5w4</option>
              <option value="5w6">5w6</option>
              <option value="6w5">6w5</option>
              <option value="6w7">6w7</option>
              <option value="7w6">7w6</option>
              <option value="7w8">7w8</option>
              <option value="8w7">8w7</option>
              <option value="8w9">8w9</option>
              <option value="9w8">9w8</option>
              <option value="9w1">9w1</option>
            </select>
            <select class="voting-zodiac" name="Zodiac">
              <option value="" selected disabled>Zodiac</option>
              <option value="Aries">Aries</option>
              <option value="Taurus">Taurus</option>
              <option value="Gemini">Gemini</option>
              <option value="Cancer">Cancer</option>
              <option value="Leo">Leo</option>
              <option value="Virgo">Virgo</option>
              <option value="Libra">Libra</option>
              <option value="Scorpio">Scorpio</option>
              <option value="Sagittarius">Sagittarius</option>
              <option value="Capricorn">Capricorn</option>
              <option value="Aquarius">Aquarius</option>
              <option value="Pisces">Pisces</option>
            </select>
          </div>
          <div class="comment-text">
            <textarea
              id="comment-input"
              class="comment-input"
              style="overflow: hidden"
              placeholder="Share your thoughts by commenting here"
            ></textarea>
          </div>
          <div class="comment-button">
            <button onclick="handleSubmit()" class="comment-submit-button">
              <span class="material-icons"> send </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- DISPLAY COMMENTS FROM COMMENT DATA ARRAY -->
  <div class="comment-section">
    <% for (let i = 0; i < commentData.length; i++) { %>
    <div class="comment-card">
      <div class="comment">
        <div class="comment-header">
          <div class="user-profile-image">
            <img
              class="profile-image"
              src="http://esq.h-cdn.co/assets/17/10/1280x1280/square-1488906206-daniel-craig.jpg"
              alt="user profile image"
            />
          </div>
          <div class="user-name">
            <h5 id="user-name"><%= commentData[i].name %></h5>
          </div>
        </div>
        <div class="comment-body">
          <div class="comment-title">
            <h5><%= commentData[i].title %></h5>
          </div>
          <div class="voting">
            <% if (commentData[i].mbti) { %>

            <button style="opacity: 100%" class="voting-mbti">
              <%= commentData[i].mbti %>
            </button>

            <% } %> <% if (commentData[i].enneagram) { %>

            <button style="opacity: 100%" class="voting-enneagram">
              <%= commentData[i].enneagram %>
            </button>

            <% } %> <% if (commentData[i].zodiac) { %>

            <button style="opacity: 100%" class="voting-zodiac">
              <%= commentData[i].zodiac %>
            </button>

            <% } %>
          </div>
          <div class="comment-text">
            <p><%= commentData[i].comment %></p>
          </div>
          <div class="heart-like">
            <button class="heart-like-button">
              <span class="material-icons"> favorite </span>
            </button>
            <span class="number-of-likes">
              <p>79</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>

  <script type="text/javascript">
    function toggleComment() {
      //toggel comment section
      let main = document.querySelector(".comment-main");
      main.classList.toggle("ds-none");
    }
    function handleSubmit() {
      //on submit the borders should glow #4edcd8 for 1 second
      let commentInput = document.querySelector(".add");
      commentInput.classList.add("glow-card");
      setTimeout(() => {
        commentInput.classList.remove("glow-card");
      }, 1000);

      let comment = document.querySelector("#comment-input").value;
      let title = document.querySelector(".title-input").value;
      let mbti = document.querySelector("#voting-mbti").value;
      let enneagram = document.querySelector(".voting-enneagram").value;
      let zodiac = document.querySelector(".voting-zodiac").value;
      let name = document.querySelector("#user-name").innerHTML;
      let profile = document.querySelector(".profile-image").src;
      let commentObj = {
        comment: comment,
        title: title,
        mbti: mbti,
        enneagram: enneagram,
        zodiac: zodiac,
        name: name,
        profile: profile,
      };
      //display the new comment along with mbti enneagram and zodiac if selected by user in the comment section of the page
      let commentCard = document.createElement("div");
      commentCard.classList.add("comment-card");
      let commentDiv = document.createElement("div");
      commentDiv.classList.add("comment");
      let commentHeader = document.createElement("div");
      commentHeader.classList.add("comment-header");
      let userProfileImage = document.createElement("div");
      userProfileImage.classList.add("user-profile-image");
      let profileImage = document.createElement("img");
      profileImage.classList.add("profile-image");
      profileImage.src = commentObj.profile;
      let userName = document.createElement("div");
      userName.classList.add("user-name");
      let userNameH5 = document.createElement("h5");
      userNameH5.innerHTML = commentObj.user;
      let commentBody = document.createElement("div");
      commentBody.classList.add("comment-body");
      let commentTitle = document.createElement("div");
      commentTitle.classList.add("comment-title");
      let commentTitleH5 = document.createElement("h5");
      commentTitleH5.innerHTML = commentObj.title;
      let voting = document.createElement("div");
      voting.classList.add("voting");
      let mbtiButton = document.createElement("button");
      mbtiButton.classList.add("voting-mbti");
      mbtiButton.innerHTML = commentObj.mbti;
      let enneagramButton = document.createElement("button");
      enneagramButton.classList.add("voting-enneagram");
      enneagramButton.innerHTML = commentObj.enneagram;
      let zodiacButton = document.createElement("button");
      zodiacButton.classList.add("voting-zodiac");
      zodiacButton.innerHTML = commentObj.zodiac;
      let commentText = document.createElement("div");
      commentText.classList.add("comment-text");
      let commentTextP = document.createElement("p");
      commentTextP.innerHTML = commentObj.comment;
      commentText.appendChild(commentTextP);
      commentTitle.appendChild(commentTitleH5);
      commentBody.appendChild(commentTitle);
      //if mbti is selected by user then display it in the comment section
      if (commentObj.mbti) {
        voting.appendChild(mbtiButton);
        //make the opactiy of the button 100%
        mbtiButton.style.opacity = "100%";
      }
      //if enneagram is selected by user then display it in the comment section
      if (commentObj.enneagram) {
        voting.appendChild(enneagramButton);
        //make the opactiy of the button 100%
        enneagramButton.style.opacity = "100%";
      }
      //if zodiac is selected by user then display it in the comment section
      if (commentObj.zodiac) {
        voting.appendChild(zodiacButton);
        //make the opactiy of the button 100%
        zodiacButton.style.opacity = "100%";
      }
      commentBody.appendChild(voting);
      commentBody.appendChild(commentText);
      userProfileImage.appendChild(profileImage);
      userName.appendChild(userNameH5);
      commentHeader.appendChild(userProfileImage);
      commentHeader.appendChild(userName);
      commentDiv.appendChild(commentHeader);
      commentDiv.appendChild(commentBody);
      commentCard.appendChild(commentDiv);
      document.querySelector(".comment-section").appendChild(commentCard);
      //clear the input fields
      document.querySelector("#comment-input").value = "";
      document.querySelector(".title-input").value = "";
      document.querySelector("#voting-mbti").value = "";
      document.querySelector(".voting-enneagram").value = "";
      document.querySelector(".voting-zodiac").value = "";
      //make the opacity of the mbti enneagram and zodiac button in input fields 30%
      document.querySelector("#voting-mbti").style.opacity = "30%";
      document.querySelector(".voting-enneagram").style.opacity = "30%";
      document.querySelector(".voting-zodiac").style.opacity = "30%";
      handleSendButton();
    }
    //make voting item visible when value is chosen
    let mbti = document.querySelector(".voting-mbti");
    let enneagram = document.querySelector(".voting-enneagram");
    let zodiac = document.querySelector(".voting-zodiac");

    mbti.addEventListener("change", function () {
      if (mbti.value != "") {
        mbti.style.opacity = "100%";
      }
    });
    enneagram.addEventListener("change", function () {
      if (enneagram.value != "") {
        enneagram.style.opacity = "100%";
      }
    });
    zodiac.addEventListener("change", function () {
      if (zodiac.value != "") {
        zodiac.style.opacity = "100%";
      }
    });

    function handleSendButton() {
      //comment-submit-button turns #4edcd8 when user selects  either mbti, enneagram, or zodiac or when user types in title or comment input field and turns back to #e0e0e0 when user deselects mbti, enneagram, or zodiac or when user deletes title or comment input field & is disabled when user does not select mbti, enneagram, or zodiac and does not type in title or comment input field
      let commentSubmitButton = document.querySelector(
        ".comment-submit-button"
      );
      let commentInput = document.querySelector("#comment-input");
      let titleInput = document.querySelector(".title-input");
      let mbtiInput = document.querySelector("#voting-mbti");
      let enneagramInput = document.querySelector(".voting-enneagram");
      let zodiacInput = document.querySelector(".voting-zodiac");
      if (
        mbtiInput.value != "" ||
        enneagramInput.value != "" ||
        zodiacInput.value != "" ||
        commentInput.value != "" ||
        titleInput.value != ""
      ) {
        commentSubmitButton.style.color = "#4edcd8";
        commentSubmitButton.disabled = false;
      } else {
        commentSubmitButton.style.color = "#e0e0e0";
        commentSubmitButton.disabled = true;
      }
      commentInput.addEventListener("input", function () {
        if (
          mbtiInput.value != "" ||
          enneagramInput.value != "" ||
          zodiacInput.value != "" ||
          commentInput.value != "" ||
          titleInput.value != ""
        ) {
          commentSubmitButton.style.color = "#4edcd8";
          commentSubmitButton.disabled = false;
        } else {
          commentSubmitButton.style.color = "#e0e0e0";
          commentSubmitButton.disabled = true;
        }
      });
      titleInput.addEventListener("input", function () {
        if (
          mbtiInput.value != "" ||
          enneagramInput.value != "" ||
          zodiacInput.value != "" ||
          commentInput.value != "" ||
          titleInput.value != ""
        ) {
          commentSubmitButton.style.color = "#4edcd8";
          commentSubmitButton.disabled = false;
        } else {
          commentSubmitButton.style.color = "#e0e0e0";
          commentSubmitButton.disabled = true;
        }
      });
      mbtiInput.addEventListener("change", function () {
        if (
          mbtiInput.value != "" ||
          enneagramInput.value != "" ||
          zodiacInput.value != "" ||
          commentInput.value != "" ||
          titleInput.value != ""
        ) {
          commentSubmitButton.style.color = "#4edcd8";
          commentSubmitButton.disabled = false;
        } else {
          commentSubmitButton.style.color = "#e0e0e0";
          commentSubmitButton.disabled = true;
        }
      });
      enneagramInput.addEventListener("change", function () {
        if (
          mbtiInput.value != "" ||
          enneagramInput.value != "" ||
          zodiacInput.value != "" ||
          commentInput.value != "" ||
          titleInput.value != ""
        ) {
          commentSubmitButton.style.color = "#4edcd8";
          commentSubmitButton.disabled = false;
        } else {
          commentSubmitButton.style.color = "#e0e0e0";
          commentSubmitButton.disabled = true;
        }
      });
      zodiacInput.addEventListener("change", function () {
        if (
          mbtiInput.value != "" ||
          enneagramInput.value != "" ||
          zodiacInput.value != "" ||
          commentInput.value != "" ||
          titleInput.value != ""
        ) {
          commentSubmitButton.style.color = "#4edcd8";
          commentSubmitButton.disabled = false;
        } else {
          commentSubmitButton.style.color = "#e0e0e0";
          commentSubmitButton.disabled = true;
        }
      });
    }
    handleSendButton();

    //toggel like button color when clicked and add 1 to like count when clicked and remove 1 from like count when clicked again
    let likeButton = document.querySelectorAll(".heart-like-button");
    likeButton.forEach((button) => {
      button.addEventListener("click", function () {
        if (button.style.color == "rgb(78, 220, 216)") {
          button.style.color = "#6b6a6a";
        } else {
          button.style.color = "#4edcd8";
        }
      });
    });
  </script>
</div>
